<div class="flex flex-col">
  <div class="flex justify-evenly">
    <button (click)="selected = 'task'" class="hover:bg-gray-200 p-2">Task</button>
    <button (click)="selected = 'category'" class="hover:bg-gray-200 p-2">Category</button>
    <button (click)="selected = 'view'" class="hover:bg-gray-200 p-2">View</button>
  </div>


  @switch (selected) {

    @case ('task') {
      <app-task-create/>
    }
    @case ('category') {
      <app-category-create/>
    }
    @case ('view') {
    }
  }
</div>
