<div class="flex flex-col w-full p-2">
  <div class="flex justify-between items-center">
    <div class="flex items-center gap-2">
      <input
        type="checkbox"
        name="completed"
        id="task"
        [checked]="task.isCompleted"
        (change)="toggleCompleted()">
      <p class="text-gray-800">{{ task.name }}</p>
    </div>

    <div class="flex items-center gap-1">
      <input
        type="checkbox"
        name="important"
        id="important"
        [checked]="task.isImportant"
        (change)="toggleImportant()">
      <label
        for="important"
        class="text-sm
        text-gray-600">Important</label>
    </div>
  </div>

  <div class="flex items-center gap-4 mt-1 text-xs text-gray-500">
    <span>{{ task.dueDate | date }}</span>
    <span>{{ task.category }}</span>
  </div>
</div>
